body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f4fff4;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: white;
  border: 3px solid #419644;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 140px;
  margin-bottom: 1rem;
}

.logo-container {
  background-color: #49a34c;
  padding: 10px;
  border-radius: 12px;
  display: inline-block;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #222;
  font-size: 1.8rem;
  margin: 1rem 0 2rem;
}

input {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
}

button {
  width: 100%;
  padding: 0.75rem;
  background-color: #49a34c;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}

button:hover {
  background-color: #49a34c;
}

p {
  margin-top: 1.5rem;
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}
